@font-face {
    font-family: "YouandiModern";
    src: url("/fonts/YouandiModern.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html,
body {
    font-family: "YouandiModern", "Apple SD Gothic Neo", "Malgun Gothic", "Noto Sans KR", sans-serif;
}
